<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Animal World</title>
</head>
<body>
    {{> header}}
    
    {{> mainNav}}
    
    <section class="mainContent">
        <nav class="leftSideMenu">
            <ul>
                <li>12
                    {{article}}
                </li>
            </ul>
        </nav>
        <article class="articles">
            <h3>Регистрация</h3>
            <form method="POST" action="/users/register">
                <p>Имя</p>
                <p><input maxlength="10" required name="firstName"></p>
                <p>Пол</p>
                <p>
                   <input type="radio" value="man" name="gender" required>Мужской
                    <input type="radio" value="woman" name="gender" required>Женский
                </p>              
                <p>Имя аккаунта</p>
                <p><input maxlength="20" required name="login"></p>
                <p>Пароль</p>
                <p><input maxlength="20" type="password" required name="password"></p>
                <p><span class="blankForDecribeError">{{messageAboutError}}</span></p>
                <button type="submit">Зарегистроваться</button>
            </form>
        </article>
    </section>
    <section></section>
    <footer class="footer"></footer>
</body>
</html>

                
