<div class="mainContainer">

  <form class="creatingProducts">

    <div class="header-block" *ngIf="!items">
      <h4><span class="orange-text">Ваша корзина пуста</span></h4>
    </div>

    <ul class="collapsible popout" #collapsible>
      <li *ngFor="let item of items; let i = index">
        <div class="collapsible-header">
          <i class="material-icons">filter_drama</i>
          <a [routerLink]="['/product', item.productId]">{{item.name}}</a>- Цена:{{item.cost | currency}}
        </div>
        <div class="collapsible-body">
          <span>{{item.description}}</span>
          <br>
          <p>
            <input type="button"
              value="Удалить"
              class="btn waves-light"
              (click)="delProduct(this.item._id)"
              (click)="items.splice(i,1)"
            >
          </p>
        </div>
      </li>
      <div class="inputContainer" *ngIf="items">
        <input type="submit"
          class="btn modal-trigger"
          value="Заказать"
          data-target="modal1"
          (click)="computePrice()"
        >
      </div>
    </ul>

    <div id="modal1" class="modal modal-fixed-footer" #modal>
      <div class="modal-content">
        <h4 class="align-center">Заказы</h4>
        <ul class="collection">
          <li class="collection-item" *ngFor="let item of items; let i = index">
            <p>
              <i class="material-icons">filter_drama</i>
              {{item.name}}:
              {{item.cost | currency}}
              <a class="secondary-content"
                (click)="delProduct(this.item._id)"
                (click)="items.splice(i,1)"

              >
              Удалить</a>
            </p>
          </li>
          <li class="">
            <span class="secondary-content">К оплате: {{orderPrice | currency}}</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="modal-close btn-flat">Отмена</a>
        <a class="modal-close btn-flat" (click)="checkout()">Оплатить</a>
      </div>
    </div>


  </form>



</div>
