.collapsible {
  width: 100%;
}

a:hover {
  text-decoration: underline;
}

.inputContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.header-block {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  width: 100%;
}

.orange-text {
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline orange;
}
@media (max-width: 1000px) {
  .orange-text {
    font-size: 1em;
  }
}

.orange-text p {
  font-size: 1.5em;
}

.align-center {
  text-align: center;
}

.secondary-content {
  cursor: pointer;
}

span.secondary-content {
  font-size: 1.5em;
}

.preloader-wrapper {
  left: 49%;
  top: 20px;
}
