.footer {
  width: 100%;
  margin-top: 100px;
  min-height: 150px;
  background-color: rgb(51,51,51);
  color: white;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
}

.footerContainer div {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  line-height: 5px;
}

.footerContainer div > p:first-child {
  font-size: 1.5em;
  font-weight: 600;
}
@media (max-width: 700px) {
  .footerContainer div > p:first-child {
    display: none;
  }
}

.sidenav {
  cursor: pointer;
}

.dropDownList div:last-child{
  border-bottom: 1px black solid;
}

.dropDownList div a{
  margin-left: 10%;
}

.dropDownList div:first-child a{
  margin-left: inherit;
}

.activeLogo {
  opacity: 1;
}
