* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 650px) {
  .creatingProducts {
    width: 100%;
    margin-left: 0;
  }
}

.productContainer {
  display: flex;
  text-align: center;
  font-size: 1.5em;
}
@media (max-width: 800px) {
  .containerHelper {
    display: flex;
    flex-direction: column-reverse;
  }
}


.productContainer > div:first-child {
  display: inline-flex;
  margin-left: auto;
}

.productContainer h3 {
  color: orange;
  font-size: 1.5em;
}


.description {
  margin-top: 20px;
  padding-right: 25px;
  width: 35%;
  border-right: 2px yellow solid;
}
@media (max-width: 800px) {
  .description {
    border-right: none;
    width: 100%;
  }
}

.product {
  margin-left: 30px;
}
@media (max-width: 800px) {
  .product {
    margin-left: 0px;
  }
}


.btn-delete {
  margin-top: 5px;
}
