* {
  font-family: Georgia, 'Times New Roman', Times, serif;

}

p:last-child {
  font-size: initial;
}

textarea {
  resize: none;
}

.creatingProducts {
  display: flex;
  vertical-align: auto;
  padding: 20px;
  width: 67%;
  min-height: 500px;
  margin-left: 15%;
  margin-top: 10%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: white;
}
@media (max-width: 700px) {
  .creatingProducts {
    width: 100%;
    margin-left: 0;
  }
}


.invalid {
  outline: 2px red solid;
}

.errorText {
  position: relative;
  /* font-size: 0.4em; */
  margin-left: 5px;
  color: red;
}

.dn {
  display: none;
}

.butUpload {
  background-color: orange;
  color: white;
  border: 1px orange solid;
  cursor: pointer;
  padding: 5px;
  box-shadow: -2px 2px 1px gray;
}

.imagePreviewBlock {
  position: absolute;
}

@media (max-width: 1200px) {
  .imagePreviewBlock {display: none;}
}

.imgPreview {
  width: 200px;
  height: 200px;
}

.textArea {
  height: 150px;
}

.browser-default {
  font-size: initial;
}

.displayNone {
  display: none;
}
