body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* .active {
  text-decoration: underline;
} */

/*                      Header                      */

.Header_InnerContent {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
}
@media (min-width: 1700px) {
  .Header_InnerContent {
    width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 700px) {
  .Header_InnerContent {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

.HeaderRightBlock {
    display: flex;
    align-items: center;
    width: 90%;
}
@media (max-width: 700px) {
  .HeaderRightBlock {
    margin: 25px auto;
  }
}

.HeaderRightBlock div {

    margin: auto;
}

.HeaderLeftBlock {

}
@media (max-width: 700px) {
  .HeaderLeftBlock  {
    margin: 25px auto;
  }
}

.header-logo {
    width: 250px;
    height: 60px;
}

.searchLogoBlock {
   width: 85%;
}

.searchLogoBlock input {
    width: 93%;
    height: 50px;
    border: 2px orange solid;
    font-size: 1.5em;
    vertical-align: bottom;
}
/* @media (max-width: 700px) {
  .searchLogoBlock {
    margin-left: 20px;
  }
} */

.searchLogo {
  opacity: 0.6;
}

.authLogoContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.authLogo {
    height: 30px;
    text-align: center;
}

.favoriteLogo {
  opacity: 0.6;
  height: 30px;
}

.favoriteLogo:hover, .searchLogo:hover{
    opacity: 1;
}

.authLogo div:first-child {
  opacity: 0.6;
}

.logoutBut {
  opacity: 0.6;
}

.authLogo div:first-child:hover, .logoutBut:hover {
  opacity: 1;
}

.mainNavigationList {
    display: flex;
    /* justify-content: space-between; */
}

.mainNavigationList > li:nth-child(n + 2) {
    margin-left: 25px;
}


.mainNavigationList > li:first-child {
    background-color: black;
}



/*                      Navigation                      */


.navigation {
    margin-top: 25px;
    background-color: rgb(2,156,228);
    width: 100%;
    font-size: 1.5em;
    color: white;
}

.navigation ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

.navContainer {
    margin-left: 5%;
}
@media (min-width: 1700px) {
  .navContainer {
    margin-left: 20%;
  }
}
@media (max-width: 700px) {
  .navContainer {
    margin: 0;
  }
}

.mainNavigationList li a:hover {
    cursor: pointer;
    color: orange;
    opacity: 0.7;
}

.mainNavigationList  li:hover > ul{
  display: flex;
  flex-direction: column;
}

.mainNavigationList  li  ul {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 100;
    min-width: 370px;
    min-height: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: -50 0 10px orange;
    background-color: white;
}

.mainNavigationList ul ul  {
    position: absolute;
    top: 0%;
    left: 100%;
}

.mainCatalogProducts li a {
  color: black;
  font-size: 0.7em;
}


/* →*/
.mainNavigationList li > a:hover:after {color: orange;}
.mainNavigationList li > a:after {
    content: '▼';
    width: 5px;
    height: 5px;
    font-size: 14px;
}
.mainNavigationList li > a:only-child:after { content: ''; }
