.mainContainer {
  min-height: calc(100vh - 200px);
}
@media (min-width: 1700px) {
  .mainContainer {
    width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 700px) {
  .mainContainer {
    width: 100%;
    margin-left: 0%;
  }
}

.creatingProducts {
  display: flex;
  vertical-align: auto;
  padding: 20px;
  width: 67%;
  min-height: 500px;
  margin-left: 15%;
  margin-top: 2%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: white;
}
@media (max-width: 700px) {
  .creatingProducts {
    width: 100%;
    margin-left: 0;
  }
}

.createProducts {
  margin: 0 auto;
}
