<header id="header">
        <div id="logo">
            <a href="/"><img src="pictures/logo.png" width="70px" height="70px"></a>
        </div>
        <div class="textTitle">
            <a href="/">Animal World</a>
            <p><span>Все о мире животных!</span></p>
        </div>
        <div class="socialNets">
            <ul>
                <li>
                    <a href="https://www.youtube.com/user/BBCEarth" title="Канал Youtube"></a>
                </li>
            </ul>
        </div>
        <div id="areaForm">
            <form action="/users/postLogin" method="post">
                <p><input name="login" type="login" placeholder="Логин" maxlength="20"></p>
                <p><input name="password" type="password" maxlength="20" placeholder="Пароль"></p>
                <button type="submit">Вход</button>
                <button type="button"><a href="/users/register">Регистрация</a></button>
            </form>
        </div>
</header>