<nav id="mainNav">
        <ul>
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                <div class="dropdownList">
                    <a href="/aboutAnimals">О животных</a>
                    <ul class="dropdownChild">
                        <li><a href="/aboutAnimals/dogs" class="dropdownDog">Собаки</a></li>
                            <ul class="dropdownChild-Dog">
                                <li><a href="/aboutAnimals/dogs/history">История</a></li>
                                <li><a href="/123">Виды</a></li>
                                <li><a>Питание</a></li>
                            </ul>
                        <li class="dropdownCat"><a href="/aboutAnimals/cats">Коты</a></li>
                            <ul class="dropdownChild-Cat">
                                <li><a>История</a></li>
                                <li><a>Виды</a></li>
                                <li><a>Семейство</a></li>
                            </ul>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/contacts">Контакты</a>
            </li>
            <li>
                <a href="/feedback">Оставить отзыв</a>
            </li>
        </ul>
</nav>